* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    }
    
 html {
    font-size: 100%;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: url(img/background_web.png), #0B203B;
    background-repeat: no-repeat;
    background-size: cover;
    color: #D6EFF9; 
    }   

#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero_web img {
    width: 90%;
    margin: 1rem;
    margin-left: 3.2rem;
}

#hero_mobile {
    display: none;
} 

h1 {
    font-family: 'Roboto', sans-serif;
}

#home_button img {
    padding: 1rem;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    margin-top: -4rem;
    padding-bottom: 1.5rem;
    background-color: #084887;
    padding-top: 1.5rem;
}

nav li {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #FED02E;
}

nav a:hover {
    color: #D6EFF9;
    border-bottom: 1px solid #D6EFF9;
}

.mobile-menu {
    display: none;
}

#main, #footer {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

#footer {
    text-align: center;
    color: #FED02E;
    /* background-color: #084887; */
    background-color: #135291;
    padding: .25rem;
    position: relative;
    margin-bottom: 0;
}

#pageHeader {
    text-align: center;
    color: #FED02E;
    font-family: 'Roboto', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 5rem;
    padding-right: 5rem;
}

#readBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5rem;
    margin-bottom: 0rem;
    background-color: #084887;
    padding-bottom: 1rem;
    margin-right: 6rem;
    width: 80%;
}

#readBox p {
    padding-right: 1rem;
    margin-right: 1rem;
}

#content p {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.25em;
}

#diagram, #email {
    margin-right: -6rem;
    padding-right: 3rem;
}

#icons, #labels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#icons img {
    padding-right: 2.5rem;
    margin-left: 3rem;
    margin-right: 6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 20%;
    height: 100%;
}

#labels h1 {
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    padding-right: 10.5rem;
    padding-left: 4.3rem;
    margin-top: -1rem;
}

#directory {
    width: 100%;
    height: auto;
}

#directory h1 {
    font-family: 'Muli', sans-serif;
    font-size: 1.45em;
    text-align: center;
}

#directorySection {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 3.5rem;
}

#directorySection img {
    border-radius: 100%;
}

.team_member {
    margin-left: 1rem;
    padding: 1rem;
}

.team_member a {
    text-decoration: none;
    color: black;
}

#thumbnail {
    width: 75%;
}

#memberInfo {
    margin-left: 0rem;
}

#memberInfo h2 {
    font-size: 1em;
}

#pubListContent, #projectListContent {
    background-color: #084887;
    padding: .5rem 4rem 1rem 2rem;
}

#pubListContent h2, #projectListContent h2 {
    border-bottom: 1.5px solid;
    border-spacing: 1px;
    width: 100%;
    padding-bottom: 1rem;
}

#pubListContent ul {
    font-style: italic;
    list-style: none;
}

#pubListContent li {
    padding-right: 1rem;
}

#project {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 1.5rem;
}

#project img {
    padding-right: 1rem;
    padding-left: 1rem;
}

#project p {
    margin: 1rem;
}

#projectListContent h2 {
    text-align: center;
}

#projects {
    display: none;
}

/* utility CSS */

::-webkit-scrollbar { 
    display: none; 
}

/* Page Transitions */

#pageloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* center children content horizontally */
    align-items: center; /* center children content vertically */
    z-index: 10000;
    background: #0B203B;
} 

.spinner {
    width: 70px;
    text-align: center;
    opacity: 1;
    transition: opacity .4s;
}
 
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #FED02E;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
 
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
 
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

#pageloader.dimissloader{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}

html.hidescrollbar{
    overflow: hidden;
}
 
html.hidescrollbar body{
    overflow: hidden;
}

body.fadeout{
    opacity: 0;
    transition: all 1s;
}

/* animation CSS */

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

@media screen and (orientation:portrait) {
    html {
        background: url(img/background_mobile2.png), #0B203B;
        background-repeat: no-repeat;
    }

    #wrapper {
        width: 100%;
    }
    #hero_web {
        display: none;
    } 
    #hero_mobile {
        display: initial;
        width: 100%;
    }

    #home_button {
        display: none;
    }
    
    nav {
        display: none;
    }

    #icons {
        margin-left: 0rem;
    }

    #icons img {
        padding-right: 0.5rem;
        margin-left: -1rem;
        margin-right: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 35%;
    }

    #labels h1 {
        padding-right: 0rem;
        padding-left: 0rem;
        margin-top: -1rem;
        margin-left: -.5rem;
        margin-right: 3.5rem;
    }

    .mobile-menu {
        display: initial;
        width: 100%;
        position: relative;
        padding: 0;
        height: 50px;
        line-height: 50px;
        /* disable text selection by clicking */
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
        z-index: 1;
      }
      
      .mobile-menu a.dropdown-link{
        display: block;
        height: 50px;
        padding: 0 20px;
        font-size: 20px;
        cursor: pointer;
        background-image: url(img/mobile_head3.png);
        color: #FED02E;
      }
      
      .mobile-menu a.dropdown-link:hover{
          text-decoration: none;
      }
      .mobile-menu a.dropdown-link i{
          float: right;
          position: relative;
          top: 15px;
      }
      
      .mobile-dropdown {
        display: none;
        list-style-type: none;
        background: rgba(11,32,59, 0.85);
        padding: 0;
        min-width: 125px;
        position: relative;
        z-index: 100;
        margin: 0;
      }
      
      .mobile-dropdown li{
        padding: 0;
        height: auto;
      }
      
      .mobile-dropdown li a{
        padding: 0;
        color: #FED02E;
        display: block;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        text-decoration: none;
        border: solid 1px black;
      }
      
      .mobile-dropdown li a:hover{
        text-decoration: none;
        background: #00adef;
    }

    #content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    #content p {
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: .8em;
    }

    #pubListContent {
        padding: 0.5rem 1rem 0rem 1rem;
        background-color: #084887;
    }

    #pubListContent h2 {
        padding: 0rem 1rem 1rem 1rem;
    }

    #pubListContent li {
        padding: 0rem 2rem 0rem 0rem;
        font-size: .8em;
    }

    #projectListContent {
        display: none;
    }

    #projects {
        background-color: #084787;
        display: inherit;
    }

    #projects h2 {
        text-align: center;
        border-bottom: 1.5px solid;
        width: 80%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 2.5rem;
    }

    #projects h3 {
        margin-top: -2rem;
        margin-left: 1rem;
        font-style: italic;
        color: #FED02E;
        font-family: 'Roboto', sans-serif;
    }

    #projects a {
        text-decoration: none;
    }

    #readBox {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 0rem;
        margin-bottom: 0rem;
        background-color: #084887;
        padding-bottom: 0rem;
        margin-right: 0rem;
        width: 100%;
    }

    #readBox p {
        padding-right: 1rem;
        margin-right: 1rem;
        padding-left: 2rem;
        padding-top: .5rem; 
    }

    #diagram, #email {
        margin-right: 0rem;
        padding-right: 0rem;
        width: 100%;
    }

    #diagram img {
        width: 100%;
    }

    #email img {
        width: 50%;
    }

    #directorySection {
        grid-template-columns: repeat(2, 2fr);
        padding-left: 0rem;
    }

    #directorySection img {
        border-radius: 100%;
    }

}